.login_page {
    * {
        font-family: "Cairo", sans-serif !important;
        direction: rtl;
    }

    position: relative;
    min-height: 100vh;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(0deg, rgba(114, 114, 114, 0.20), rgba(114, 114, 114, 0.20)),
            linear-gradient(113.44deg, rgba(3, 1, 76, 0.36) 27.53%, rgba(28, 28, 28, 0.36) 70.77%);
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .logo-holder {
            position: relative;
            z-index: 11;
            align-self: flex-start;

            .const-logo {
                width: 173px;
                height: auto;
            }
        }

        .form_content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 600px;
            height: 600px;
            max-width: 100%;
            padding: 25px;
            border-radius: 15px;
            z-index: 11;
            background-color: #fff;

            .content-holder {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                width: 409px;
                height: 509px;
                max-width: 100%;

                .header_title {

                    .title,
                    .text {
                        color: #3E3E3E;
                    }

                    .title {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 37.48px;
                        margin-bottom: 25px;
                    }

                    .text {
                        margin-bottom: 0;
                        font-size: 13.32px;
                        font-weight: 400;
                        line-height: 24.97px;
                        opacity: 60%;
                    }
                }


                .group-inp {
                    width: 100%;
                    height: 66px;
                    border: 1px solid #03014C33;
                    border-radius: 8.5px;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    font-size: 14px;
                    padding: 0.6rem 1rem;

                    .inp {
                        flex: 1;
                        height: 100%;
                        border: 0;
                        outline: 0;

                        &::placeholder {
                            font-size: 13.32px;
                            font-weight: 700;
                            line-height: 24.97px;
                            text-align: right;
                            color: #131313;
                            opacity: 0.6;
                        }
                    }

                    .box {
                        .icon {
                            width: fit-content;
                            height: auto;
                        }
                    }
                }

                .form-check {
                    .form-check-label {
                        font-size: 13.32px;
                        font-weight: 400;
                        line-height: 24.97px;
                        text-align: right;
                        color: #3E3E3E;
                    }
                }

                .reseat {
                    font-size: 13.32px;
                    font-weight: 600;
                    line-height: 24.97px;
                    text-align: left;
                    color: #3E3E3E;
                }

                .sub_btn {
                    width: 100%;
                    height: 68px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8.5px;
                    border: none;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 29.98px;
                    text-align: center;

                    background-color: #3E3E3E;
                    color: #fff;

                    &:hover {
                        background-color: #25456d;
                    }
                }

                .ask {
                    margin-top: 15px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 29.98px;
                    text-align: center;


                    a {
                        text-decoration: underline;
                    }
                }
            }

        }
    }
}
