
// All Rest
* {
  @include all-reset;
}
// a Reset
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}
// reset form-control
.form-control {
  font-size: 14px !important;
  border: 1px solid $light-grey-color !important;
}
// main-section
.main-section {
  padding: 1.5rem 0;
  min-height: calc(100vh - 41.88px - 54.5px - 69px);
}
// Modal
.modal-header {
  .modal-title {
    font-size: 15px !important;
  }
  .btn-close {
    margin: unset !important;
  }
}
// Start Show User
.tab-pane {
  display: none;
 &.active {
  display: block;
 }
}
// ENd Show User



.app-price {
  background-color: white;
  padding-top:  1px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.200);
  min-height: calc(100% - ((124px / 2) - 5px) - 39px);
  margin-bottom: 20px;
  .price-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 10px solid #214136;
    z-index: 1;
    margin-top:  calc((124px / 2) - 5px);
    .logo-page {
      position: absolute;
      height: 124px;
      width: auto;
      inset-inline-end: 30px;
      top: calc((-124px / 2) - 5px);
    }
    .fixed-logo {
      position: absolute;
      z-index: -1;
      width: 300px;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.15;
    }
    .content-page {
      padding: 30px;
    }
  }
}

.footer-page {
  margin-top: auto;
  .top-footer-page {
    background-color: #1C2120;
    padding: 1rem;
    .item-footer-page {
      display: flex;
      align-items: center;
      gap: 5px;
      color: white;
      font-size: 14px;
      .icon {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
      }
    }
  }
  .bottom-footer-page {
    background-color: #214136;
    padding: 16px;
  }
}