// Btns
.main-btn {
    color: white !important;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    outline: none;
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    width: fit-content;
    position: relative;
    padding: 8px 13px;
    background: $green-color;

    &.btn-orange {
        background-color: $orange-color;
    }

    &.btn-purple {
        background-color: $purple-color;
    }

    &.btn-blue {
        background-color: $blue-color;
    }

    &.btn-main-color {
        background-color: $main-color;
    }

    .icon {
        width: 20px;
        height: auto;
    }

    svg {
        font-size: 20px;
    }

    .main-badge {
        position: absolute;
        left: -10px;
        top: -10px;
    }
}

// Badges
.main-badge {
    border: 2px solid $white_color !important;
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    color: $white_color;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background: $red-color;

    &.badge-info {
        background-color: $info-color;
    }
}

.btn-light-blue {
    padding: 5px 18px;
    background: #daecfb;
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    color: #369fff;
}

.btn-light-green {
    padding: 5px 18px;
    background: #d4f2e2;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    color: #0fc859;
}

.btn-light-red {
    padding: 5px 18px;
    background: #ebc8c8;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    color: #c80f0f;
}

.btn-light-yellow {
    padding: 5px 18px;
    background: #ffecb4;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    color: #ffc107;
}

.btn-light-purple {
    padding: 5px 18px;
    background: $purple-color-light;
    white-space: nowrap;
    border-radius: 25px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    color: $purple-color;
}

// Tabs
.main-tabs {
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}

.btn-whatsapp {
    background-color: #25D366;
    color: white !important;
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    font-size: 27px;
    justify-content: center;
}


.dropdown-effect {
    .dropdown-toggle {
        &::after {
            content: none;
        }
    }

    .dropdown-menu {
        transition: $transition;
        opacity: 0;
        visibility: hidden;

        li {
            .dropdown-item {
                text-align: start;
                font-size: 13px;

                i,
                svg,
                img {
                    width: 18px;
                }
            }
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }
}

.select2 {
    width: 100% !important;
}

.select2-selection {
    border: 1px solid #ddd !important;
    font-size: 14px !important;
    border-radius: 0.375rem !important;
}

.btn-tooltip {
    position: relative;

    .tip {
        content: "";
        position: absolute;
        bottom: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 10px;
        border-radius: 6px;
        font-size: 11px;
        line-height: 1.3;
        white-space: nowrap;
        opacity: 0;
        transition: 0.3s;
        color: #fff;
        background-color: black;

        &::before {
            position: absolute;
            content: "";
            bottom: -16px;
            left: 50%;
            transform: translateX(-50%);
            border-width: 8px;
            border-style: solid;
            border-color: black transparent transparent;
        }
    }

    &:hover {
        .tip {
            opacity: 1;
        }
    }
}

.main-nav-pills {
    .nav-link {
        color: $main-color !important;
        font-size: 15px;
        &:hover {
            color: $main-color !important;
        }
        &.active {
            color: white !important;
            background-color: $main-color !important;
        }
    }
}


ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
