.table-dark th {
    background-color: #243848;
}

.table {
    .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        object-fit: cover;
    }

    td {
        vertical-align: middle;

        .icon-table {
            width: 25px;
        }
    }
}



.content_view .top-bar .three-bar {
    background-color: #fff;
    padding: 20px;
    font-size: 12px
}

.content_view .top-bar .three-bar .small-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 6px 0px 10px
}

.content_view .top-bar .three-bar .client {
    display: flex;
    align-items: center;
    gap: 20px
}

.content_view .top-bar .three-bar .client .small-label {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5257941484px;
    color: #131313
}

.content_view .top-bar .three-bar .client .small-label b {
    margin: 0 10px
}

.content_view .top-bar .three-bar .client .btn-table {
    border: 1px solid #01b3e4;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: .5257941484px
}

.content_view .top-bar .three-bar .client .btn-table img {
    width: 24px;
    height: 24px
}

.content_view .top-bar .three-bar select {
    width: 250px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .5257941484px;
    color: #1a1718;
    background-color: #f5f5fc
}

.content_view .top-bar .three-bar .date label {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #131313;
    letter-spacing: .5257941484px
}

.content_view .top-bar .three-bar .date label .icon {
    width: 26px;
    position: absolute;
    inset-inline-end: 7px;
    bottom: 7px
}

.content_view .top-bar .three-bar .date label .date-inp {
    width: 250px;
    padding: 8px 16px;
    background-color: #f5f5fc;
    text-align: right;
    position: relative
}

.content_view .top-bar .three-bar .date label ::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0
}

.content_view .content .box {
    min-height: 1vh
}

.content_view .content .bar-bottom {
    background-color: #e5e6ea;
    padding: 3px;
    border-top: 1px solid #fff;
    font-size: 14px;
    display: flex;
    color: #5a72cd;
    font-weight: bold;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    padding-left: 200px
}

.content_view .content .bar-bottom .total {
    background-color: #fff;
    padding: 0px 30px;
    border-radius: 4px
}

.content_view table {
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #fff
}

.content_view table th,
.content_view table td {
    font-size: 14px;
    border: 1px solid #dee2e6;
    text-align: center
}

.content_view table th {
    white-space: nowrap;
    font-weight: bold;
    padding: 14px 7px;
    background-color: #f5f5f5;
    width: 60px
}

.content_view table th:first-of-type {
    min-width: 150px
}

.content_view table .form-control:focus {
    box-shadow: none !important
}

.content_view table td input {
    padding: 14px 7px;
    text-align: center
}

.content_view table td input.inp-create {
    width: 100% !important;
    margin: auto;
    background-color: #f2fbfd
}

.content_view table td input.form-control {
    border: none !important
}

.content_view table td input.form-control :focus {
    box-shadow: 0 0 10px red !important
}

.content_view table td .total {
    background-color: #f5f5f5;
    padding: 14px 16px;
    font-weight: 700
}

.content_view table td .total span {
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e3e3e3;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    margin: 0 5px
}

.content_view table td .btn-add {
    padding: 10px 14px;
    background-color: #01b3e4;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 183px
}

.content_view .info {
    margin-bottom: 5px
}

.content_view .info-text {
    background-color: #e8edee;
    display: flex;
    align-items: center
}

.content_view .info-text .title {
    width: fit-content;
    text-align: center
}

.content_view .info-text .inp-text {
    min-height: 60px !important
}

.content_view .btn-submit {
    padding: 10px 14px;
    background-color: #7fc968;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 183px
}

.content_view .instructions {
    background-color: #e8edee
}

.content_view .instructions .btns {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding: 7px 0;
    flex-wrap: wrap;
    margin-top: 3px
}

.content_view .instructions .btns .btn-parint {
    outline: none;
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 13px !important;
    font-weight: bold;
    padding: 5px
}

.content_view .instructions .btns .btn-parint img {
    width: 16px
}

@media(max-width: 575.98px) {
    .content_view .content .bar-bottom {
        padding-left: 0;
        flex-direction: column
    }
}

@media(max-width: 1199.98px) {
    .content_view .content .bar-bottom {
        padding-left: 0;
        justify-content: center
    }
}


.table-invoice {
    & .duble-border {
        border-bottom-width: 2px;
        border-bottom-color: black;
    }

    td {
        border: 1px solid #bbb;
        vertical-align: middle;
        padding: 9px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    th {
        border: 1px solid #bbb;
        background-color: #f4f4f4;
        font-size: 14px;
        padding: 9px;
        font-weight: bolder;
        text-align: center;
    }

    & .td-head {
        background-color: #f4f4f4;
        border-left: 1px solid #bbb !important;
        text-align: right;
        font-size: 13px !important;
        font-weight: bold;
        width: 50%;
    }

    @media print {
        margin: 0;

        th {
            font-size: 9px !important;
            padding: 5px;
        }

        td {
            font-size: 10px !important;
            padding: 5px;
        }
    }
}


.table-invoice-footer {
    & .duble-border {
        border-bottom-width: 2px;
        border-bottom-color: black;
    }

    border: 0 !important;

    td {
        vertical-align: middle;
        padding: 9px !important;
        font-size: 14px;
        font-weight: bold;
    }

    .bg-gray {
        background-color: #e5e5e5;
    }

    th {
        background-color: #f4f4f4;
        font-size: 14px !important;
        padding: 9px !important;
        font-weight: bolder;
    }

    & .td-head {
        text-align: right;
        font-size: 13px !important;
        font-weight: bold;
        width: 50%;
    }


    @media print {
        td {
            font-size: 12px;

            b {
                font-size: 12px;
            }
        }
    }
}

.table>:not(:first-child) {
    border-top: unset;
}
